Codefarts.IoCNET20/obj/
Codefarts.IoCNET35/obj/
Codefarts.IoC.Tests/bin/
Codefarts.IoC.Tests/obj/
Codefarts.IoCNET35/bin/
*.user
Codefarts.IoCStandard20/obj/
packages/
Codefarts.IoCStandard20/bin/
.vs/Codefarts.IoC/DesignTimeBuild/.dtbcache.v2
.vs/
Codefarts.IoCNET5/obj/
Codefarts.IoCNET5/bin/
Codefarts.IoC.sln.DotSettings
